@import url(./__close-button/popup__close-button.css);
@import url(./__container/popup__container.css);
@import url(./__form-name/popup__form-name.css);
@import url(.//__forms/popup__forms.css);
@import url(./__open-button/popup__open-button.css);
@import url(./__paragraph/popup__paragraph.css);
@import url(./__form-occupation/popup__form-occupation.css);
@import url(./__save-button/popup__save-button.css);
.popup {
    display: none;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
background: rgba(0, 0, 0, .5);
}