.profile__add-button {
    margin             : 0 0 0 auto;
    width              : 150px;
    height             : 50px;
    background         : none;
    background-image   : url(../../../images/addButton.png);
    background-size    : 22px;
    background-repeat  : no-repeat;
    background-position: center;
    border             : 2px solid #FFFFFF;
    border-radius      : 2px;
}

.profile__add-button:hover {
    opacity   : .5;
    transition: 0.3s;
}